:root {
  --text-color: #757575;
  --heading-color: #212121;
  --nav-color: #2196f3;
  --white-color: #ffffff;
  --link-footer-color: #ffffff, 60%;
  --soc-footer-color: rgba(255, 255, 255, 0.1);
  --background-footer: #2f303a;
  --backgroun-contaner: #f5f4fa;
  --backgroud-portfolio: #eeeeee;
  --tomato: none;
  --icon-color: #afb1b8;
}

body {
  color: var(--text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.71;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}

.link {
  color: var(--text-color);
  display: flex;
}

.nav-icon {
  fill: currentColor;
  align-self: center;
  margin-left: 30px;
  margin-right: 10px;
}
.nav-link,
.current,
.link {
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo {
  color: var(--nav-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.24;
  margin-right: 93px;
}
.current,
a.link:hover,
a.link:focus,
.item-nav a:hover,
.item-nav a:focus {
  color: var(--nav-color);
}
.logo-up,
a.nav-link {
  color: var(--heading-color);
}
.logo-down {
  color: var(--white-color);
}
.logo-up .logo-down {
  font-family: oleo Script, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
}
.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0px;
  margin: 0px;
  display: flex;
}

/* main */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
  outline: 2px solid var(--tomato);
}
.nav .item-nav + .item-nav {
  margin-left: 50px;
}
.contacts {
  margin-left: auto;
}
.contaner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid var(--tomato);
}
.panel-nav {
  outline: 2px solid var(--tomato);
  display: flex;
  align-items: center;
}
.hero {
  padding: 200px 0px 200px;
  background-color: var(--background-footer);
  background-image: url("../image/fon_hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.header-link {
  color: var(--white-color);
  background-color: var(--nav-color);
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 20px;
}
.contaner-main {
  padding: 94px 0px 94px;
}
.contaner-item {
  padding: 94px 0px 0px;
}

.advantage-icon {
  outline: var(--tomato);
  margin-bottom: 30px;
  padding: 25px 0px 25px;
  width: 270px;
  height: 120px;
  background-color: var(--backgroun-contaner);
  display: inline-flex;
  justify-content: center;
}
.list-item {
  padding: 0px;
  margin: 0px;
  display: flex;
}
.list-box {
  width: calc((100%-90px) / 4);
}
.list-item .list-box + .list-box,
.list-item .card-item + .card-item,
.list-item .manager-card + .manager-card {
  margin-left: 30px;
}
.card-item {
  display: inline;
}

.title-adtantage {
  color: var(--heading-color);
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px;
}

.text-adtantage {
  font-weight: 400;
  padding-top: 10px;
}
.title-cection {
  color: var(--heading-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.team {
  background-color: var(--backgroun-contaner);
}
.title-manager .position {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.manager-card {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.manager-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.title-manager {
  color: var(--heading-color);
  font-weight: 500;
  margin-bottom: 10px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list,
.social-item,
.clients-list {
  padding: 0px;
  margin: 0px;
}
.social-link-box {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 50%;
}
.social-link-box:hover,
.social-link-box:focus {
  color: var(--backgroud-portfolio);
  background-color: var(--nav-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.position {
  font-weight: 400;
  margin-bottom: 16px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-item {
  width: calc((100% - 150px) / 6);
  display: flex;
  justify-content: center;
}
.clients-box {
  color: var(--icon-color);
  display: flex;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.client-logo,
.social-icon {
  align-self: center;
}

.clients-box:hover,
.clients-box:focus {
  color: var(--nav-color);
  border: 1px solid var(--nav-color);
}
.client-logo {
  display: block;
  width: 175px;
  height: 50px;
  fill: currentColor;
}
/*================ footer ===============*/
.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.list-footer,
.portfolio-list {
  padding: 0px;
  margin: 0px;
}
.address .footer-link {
  font-weight: 400;
}
.address {
  color: var(--white-color);
  font-style: normal;
}

.footer-link {
  color: var(--link-footer-color);
}
.list-footer {
  margin-top: 20px;
}
.footer-box {
  margin-right: 70px;
}
.footer .contaner {
  display: flex;
}
.footer-social {
  padding-top: 12px;
}
.footer-social .social-list {
  margin-top: 20px;
}
.footer-sub-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.footer-link-box {
  background-color: var(--soc-footer-color);
}
.social-list .social-item {
  margin-right: 10px;
}
.social-list .social-item:nth-last-child(-n + 1) {
  margin-right: 0px;
}
.social-link-box .footer-link-box {
  color: var(--white-color);
}
.social-link-box .footer-icon {
  fill: var(--white-color);
}

/* ======================portfolio=================== */

.button {
  color: var(--heading-color);
  background-color: var(--backgroun-contaner);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  /* border: var(--backgroun-contaner); */
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--nav-color);
}
.button-list .button-item + .button-item {
  margin-left: 8px;
}
.button-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-hero {
  padding: 94px 0px 94px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .list-item {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--white-color);
  border-bottom: 1px solid var(--backgroud-portfolio);
  box-sizing: border-box;
}
.portfolio-list .list-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-list .list-item:hover,
.portfolio-list .list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-projects {
  color: var(--heading-color);
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
}
.sizer {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  color: var(--text-color);
}
.description-item {
  padding: 20px 24px;
}
