.list-footer,
.portfolio-list {
  padding: 0px;
  margin: 0px;
}

.footer {
  background-color: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    display: block;
  }
}
.footer-social {
  text-align: center;
}

.social-list {
  justify-content: center;
}

.address {
  color: $white-color;
  font-style: normal;
}
.address,
.footer-link {
  font-weight: 400;
}

.footer-link {
  color: $link-footer-color;
}
.footer-link-box {
  background-color: $soc-footer-color;
}

.footer-box {
  text-align: center;
  .logo {
    display: block;
    margin-bottom: 20px;
  }
}
.footer-item {
  display: block;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.join {
  color: $white-color;
  text-transform: uppercase;
  line-height: 1.14;
  display: block;
  margin-bottom: 20px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-box {
  .footer-link-box {
    color: $white-color;
  }
  .footer-icon {
    fill: $white-color;
  }
}

.subscribe {
  display: block;
  align-content: center;

  .hero-button {
    @extend %center-position-flex;
  }
}
.footer-social:not(:last-child) {
  margin-bottom: 60px;
}
.text-input {
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  background-color: $footer-background;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @include font-height(16, 20);
  font-weight: 400;
  color: $white-color;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

//tablet-
@media screen and (min-width: 768px) {
  .footer {
    .container {
      text-align: center;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .footer-social:last-child {
    width: 100%;
  }
  .subscribe {
    display: block;
    align-content: center;
  }
}

//desktop-
@media screen and (min-width: 1200px) {
  .text-input {
    margin-right: 12px;
    margin-bottom: 0px;
    width: 360px;
  }
  .footer {
    .container {
      flex-wrap: none;
      justify-content: none;
    }
  }
  .footer-box {
    text-align: center;
    .logo {
      @include font-height(26, 30.52);
    }
  }
  .footer-social:not(:last-child) {
    margin-bottom: 0px;
  }
  .footer-social:not(:nth-child(even)) {
    margin-right: 93px;
    margin-left: auto;
  }
  .footer-social:last-child {
    width: 572px;
  }
  .subscribe {
    display: flex;
  }
  .footer-social {
    text-align: left;
  }
}
