.nav {
  display: none;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.logo {
  font-family: $accent-font, sans-serif;
  font-size: 24px;
  line-height: 1.174;
  transition: 250ms $timing-function;
  color: $accent-color;

  &-up,
  &-down {
    font-weight: 400;
    line-height: 1.38;
  }
  &-up {
    color: $heading-background;
  }
  &-down {
    color: $white-color;
  }
}

.panel-nav {
  position: relative;
}

//tablet--
@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
    .nav-icon {
      fill: currentColor;
      margin-right: 8px;
      width: 14px;
      height: 10px;
    }
  }
  .nav-link {
    color: $heading-background;
    transition: 250ms $timing-function;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .menu-button {
    display: none;
  }
  .panel-nav {
    .logo {
      margin-right: 88px;
    }
  }
  .nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 0px;
    margin: 0px;
    display: flex;

    .link {
      color: $main-text-color;
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: 250ms $timing-function;
      @include font-height(12, 14.06);
      letter-spacing: 0.02em;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
  .current {
    transition: 250ms $timing-function;
    color: $accent-color;

    &::after {
      content: "";
      display: block;
      position: relative;
      top: 32px;
      border: 2px solid $accent-color;
      border-radius: 5px;
      background: $accent-color;
    }
  }

  .nav .item-nav + .item-nav {
    margin-left: 50px;
  }

  .contacts {
    display: block;
    margin-left: auto;
  }
}

// desktop--
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    .nav-icon {
      margin-right: 10px;
      width: 16px;
      height: 12px;
    }
  }

  .contacts {
    display: flex;

    .link {
      @include font-height(14, 16.41);
      &:not(:last-child) {
        margin-bottom: 0px;
      }
      &:last-child {
        margin-left: 30px;
      }
    }
  }
  .current {
    &::after {
      top: 34px;
    }
  }
  .panel-nav {
    .logo {
      @include font-height(26, 30.52);
      margin-right: 93px;
    }
  }
}
