.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.link {
  color: $main-text-color;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-icon {
  fill: currentColor;
  align-self: center;
  margin-left: 30px;
  margin-right: 10px;
}
// .panel-nav .logo {
//   // margin-right: 93px;
// }
.logo {
  font-family: $accent-font, sans-serif;
  font-size: 26px;
  line-height: 1.174;
  transition: 250ms $timing-function;
  color: $accent-color;

  &-up,
  &-down {
    font-weight: 400;
    line-height: 1.38;
  }
  &-up {
    color: $heading-background;
  }
  &-down {
    color: $white-color;
  }
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0px;
  margin: 0px;
  display: flex;

  .link {
    transition: 250ms $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .nav-link {
    color: $heading-background;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 250ms $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .current {
    transition: 250ms $timing-function;
    color: $accent-color;

    &::after {
      content: "";
      display: block;
      position: relative;
      top: 32px;
      border: 2px solid $accent-color;
      border-radius: 5px;
      background: $accent-color;
    }
  }
}

.nav .item-nav + .item-nav {
  margin-left: 50px;
}
// .contacts {
//   margin-left: auto;
// }
.panel-nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.menu-button {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-color: $white-color;
  background-color: $white-color;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
//mobile--ok
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .logo {
    font-size: 24px;
    margin-right: 0;
  }
  // в высоте хедера лишние - 5px
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
  }
  .menu-button {
    display: inline-block;
  }
}

//tablet -- ok
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: block;
    .link:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
//desktop--ok
@media screen and (min-width: 1200px) {
}
