%hero-text-decoration {
  color: $white-color;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}

// ===HERO===
.hero {
  background-color: $footer-background;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 118px 0px 118px;
  background-image: url("../images/hero/mob-fon-hero.jpg");
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/mob-fon-hero@2x.jpg");
    // background-repeat: no-repeat;
    // // max-width: 480px;
    // background-position: center;
    // background-size: contain;
  }
}

.hero-title {
  @extend %hero-text-decoration;
  @include font-height(26, 42);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  margin-bottom: 30px;
}

.hero-button {
  @extend %button;
  @extend %hero-text-decoration;
  background-color: $accent-color;
  display: block;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
}

// ===ADVANTAGE===

.list-item {
  display: block;
  margin: -15px;
}
.list-box {
  margin: 15px;
  max-width: 450px;
}
.list-box,
.advantage-icon {
  width: inherit;
}
.list-box:not(:last-child) {
  margin-bottom: 30px;
}
.container-main {
  padding: 60px 0 60px;
}

.advantage-icon {
  padding: 25px 0px 25px;
  background-color: $container-backgroun;
  margin-bottom: 30px;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-adtantage {
  color: $heading-background;
  @include font-height(14, 16.41);
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 0px;
  text-align: center;
}
.projects {
  display: none;
}

// ===TEAM===

.team {
  background-color: $container-backgroun;
}
.title-cection {
  color: $heading-background;
  @include font-height(28, 32.81);
  text-align: center;
  margin-bottom: 30px;
}
.position {
  @include font-height(16, 18.75);
  text-align: center;
  font-weight: 400;
  margin-bottom: 16px;
}

.manager-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  max-width: 450px;
  margin: 15px;
}

.manager-description {
  background-color: $white-color;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.title-manager {
  color: $heading-background;
  font-weight: 500;
  margin-bottom: 10px;
  @include font-height(16, 18.75);
}

.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list,
.social-item,
.clients-list {
  padding: 0px;
  margin: 0px;
}
.social-link-box {
  @extend %center-position-flex;
  color: $icon-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms $timing-function;
  &:hover,
  &:focus {
    color: $portfolio-backgroun;
    background-color: $accent-color;
    outline: $accent-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// ===CLIENTS===

.clients-box {
  display: flex;
  color: $icon-color;
  align-items: center;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}
.clients-item {
  min-width: calc((320px - 60px) / 2);
  max-width: calc((100% - 60px) / 2);
  margin: 15px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.clients-box {
  min-width: inherit;
  height: 90px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition: 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.client-logo {
  display: block;
  min-width: 70px;
  height: 50px;
  fill: currentColor;
}

//mobile
@media screen and (max-width: 320px) {
  .clients-list {
    justify-content: center;
  }
}

//tablet================================================================================
@media screen and (min-width: 768px) {
  .hero {
    background: url("../images/hero/tab-fon-hero.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background: url("../images/hero/tab-fon-hero@2x.jpg");
      // background-repeat: no-repeat;
      // background-position: center;
    }
  }

  .list-item {
    display: flex;
    flex-wrap: wrap;
  }
  .list-box {
    max-width: calc((100% - 60px) / 2);
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .title-adtantage {
    text-align: start;
  }
  .manager-card {
    max-width: calc((100% - 60px) / 2);
  }
}

//desktop==================================================================================
@media screen and (min-width: 1200px) {
  .hero {
    background: url("../images/hero/desk-fon-hero.jpg");
    //   background-repeat: no-repeat;
    //   background-position: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background: url("../images/hero/desk-fon-hero@2x.jpg");
      // background-repeat: no-repeat;
      // background-position: center;
    }
  }

  .hero {
    padding: 200px 0 200px;
    .hero-title {
      @include font-height(44, 60);
    }
  }
  .container-main {
    padding: 94px 0 94px;
  }
  .list-box {
    max-width: calc((100% - 120px) / 4);
  }
  .manager-card {
    max-width: calc((100% - 120px) / 4);
  }
  .text-adtantage {
    font-weight: 400;
  }
  .title-cection {
    @include font-height(36, 42.19);
    margin-bottom: 50px;
  }
  .projects {
    padding-top: 0;
    display: flex;
  }

  .card-item {
    position: relative;
    margin: 15px;
  }
  .description-projects {
    // @extend %center-position-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background: $description-projects-fon;

    .title-projects {
      line-height: 1.142;
      font-size: inherit;
      margin-bottom: 0;
      text-transform: uppercase;
      color: $white-color;
    }
  }

  .text-adtantage {
    font-weight: 400;
    padding-top: 10px;
  }
  .clients-item {
    max-width: calc((100% - 180px) / 6);
  }
}
