.portfolio-button {
  @extend %button;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: $heading-background;
  background-color: $contaner-backgroun;
  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    outline: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-list {
  margin: 0px;
  padding: 0px;
  @extend %center-position-flex;
  margin-bottom: 50px;
  & .button-item + .button-item {
    margin-left: 8px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  .list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    background: $white-color;
    border-bottom: 1px solid $portfolio-backgroun;
    box-sizing: border-box;
    width: calc((100% - 60px) / 3);
    transition: 250ms $timing-function;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  .list-item:nth-child(3n) {
    margin-right: 0;
  }
  & .list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.title-projects {
  color: $heading-background;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
.sizer {
  font-family: $main-text-color;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  color: $main-text-color;
  line-height: 1.875;
}

.portfolio-link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 404px;
}
.description-item {
  padding: 20px 24px;
  z-index: 3;
  background: $white-color;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  width: 100%;
  background: $portfolio-clients-fon;
  transform: translateY(100%);
  opacity: 0;
  z-index: 2;
  transition: 250ms $timing-function;
  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
  }
}
.description-clients {
  width: inherit;
  height: inherit;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: $white-color;
  text-align: justify;
}
